* {
    font-size: 15px;
}

.btn-count {
    width: 70px;
    background-color: #212529;
}

.count {
    width: 70px;
    font-size: 20px;
}

button {
    font-size: 20px;
    color: white;
}

.btn-count:hover,
.btn-add:hover {
    background-color: #424649;
}

.btn-delete {
    color: #212529;
}

.btn-delete:hover {
    color: #424649;
}